body {
    background-color: rgb(255, 255, 255);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #95b3d7;
}

h1, h2 {
    font-family: Georgia;
}

ul#lista li{
    font-weight: bold;
}

h1 {
    font-size: 3em;
    color: #00B;
}

span {
    color: #0b0;
}

h2 {
    font-size: 2em;
}

p {
    font-family: Arial;
}

span.bold { font-weight: bold; }
.red { color: #b00}

#myDiv {color: #00b !important;}
span#mySpan {color: #0b0;}